* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow-y: scroll;
  animation: zoomBackground 30s infinite alternate;
  position: relative;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 40px 20px;
}

body::before,
body::after {
  content: "";
  display: block;
  height: 1px;
  background-color: grey;
  width: 100%;
  position: absolute;
}

body::before {
  top: 125px;
}

body::after {
  top: 170px;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  position: relative;
}

.navbar ul {
  list-style: none;
  padding: 10px 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
}

.navbar ul li:hover a {
  color: grey;
  text-decoration: underline;
}

.navbar ul li:active a {
  color: purple;
}

.navbar ul li:not(:last-child)::after {
  content: "|";
  color: #fff;
  margin-left: 25px;
  margin-right: 10px;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  background-image: url("imagini/footer.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  background-size: contain;
  position: fixed;
  bottom: 0;
}

footer a {
  display: inline-block;
}

footer p {
  color: #fff;
  margin-top: 10px;
}

@keyframes zoomBackground {
  0% {
    background: url("imagini/1.jpg") center/cover fixed;
  }
  25% {
    background: url("imagini/2.jpg") center/cover fixed;
  }
  50% {
    background: url("imagini/3.jpg") center/cover fixed;
  }
  75% {
    background: url("imagini/4.jpg") center/cover fixed;
  }
  100% {
    background: url("imagini/1.jpg") center/cover fixed;
  }
}

.content {
  max-width: 100%;
  width: 99%;
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 50px;
  margin-top: 60px;
}

.news {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  justify-content: center;
}

.news a {
  color: grey;
  text-decoration: none;
}

.news li {
  margin: 0 2px;
  color: grey;
}

.news img {
  max-width: 100%;
  height: auto;
}

.newsbg {
  position: absolute;
  top: 520%;
  left: 0;
  width: 100%;
}

.newsbg ul li:hover a {
  color: grey;
  text-decoration: underline;
}

.newsbg ul li:active a {
  color: purple;
}

.newsbg img {
  width: 100%;
}

.top-left {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 150%;
}

.media {
  display: flex;
  align-items: center;
}

.smedia {
  margin-left: 10px; /* Adjust the margin as needed */
  margin-top: -35px;
}

.smedia img {
  width: 50px; /* Adjust the size to your preference */
  height: 35px; /* Adjust the size to your preference */
}

.logo img {
  width: 166px; /* Adjust the size to your preference */
  height: auto;
}

/* album */

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.album-item {
  width: 300px;
  margin: 15px;
  text-align: center;
}

.album-item img {
  width: 100%;
  border-radius: 8px;
}
.album-item:hover img,
.album-item a:hover {
  animation: scale 0.2s ease-in;
  transform: scale(1.2);
  color: grey;
  text-decoration: underline;
}

.album-item img,
.album-item a {
  transition: transform 0.2s ease-out;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.album-item a {
  text-decoration: none;
  color: #fff;
}

.album-item p:hover {
  transform: translateY(28px);
  transition: transform 0.2s ease-out;
}
.album-item a:active {
  color: purple;
}

.text-album {
  color: white;
  text-align: center;
  font-size: 40px;
}

/*about */

.about-section {
  align-items: center;
  z-index: 0;
}

.about-section {
  padding-top: 200px;
}

.header-nav {
  position: relative;
  z-index: 1;
}
.smedia {
  position: relative;
  z-index: 1;
}

.content {
  padding: 0px;
}

.contact-section {
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
