* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-y: scroll;
  animation: zoomBackground 30s infinite alternate;
  position: relative;
  font-family: sans-serif;
  background-color: #333;
}

header {
  text-align: center;
  padding: 40px 20px;
}



body::before,
body::after {
  content: "";
  display: block;
  height: 1px;
  background-color: grey;
  width: 100%;
  position: absolute;
}

body::before {
  top: 125px;
}

body::after {
  top: 170px;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  padding: 10px 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
}

.navbar ul li:hover a {
  color: grey;
  text-decoration: underline;
}

.navbar ul li:active a {
  color: purple;
}

.navbar ul li:not(:last-child)::after {
  content: "|";
  color: #fff;
  margin-left: 25px;
  margin-right: 10px;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  background-image: url("imagini/footer.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  background-size: contain;
  position: fixed;
  bottom: 0;
  
}

footer a {
  display: inline-block;
}

footer p {
  color: #fff;
  margin-top: 10px;
}

@keyframes zoomBackground {
  0% {
    background: url("imagini/1.jpg") center/cover fixed;
  }
  25% {
    background: url("imagini/2.jpg") center/cover fixed;
  }
  50% {
    background: url("imagini/3.jpg") center/cover fixed;
  }
  75% {
    background: url("imagini/4.jpg") center/cover fixed;
  }
  100% {
    background: url("imagini/1.jpg") center/cover fixed;
  }
}

.content {
  max-width: 100%;
  width: 99%;
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 50px;
  margin-top: 60px;
}

.news {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  justify-content: center;
}

.news a {
  color: grey;
  text-decoration: none;
}

.news li {
  margin: 0 2px;
  color: grey;
}

.news img {
  max-width: 100%;
  height: auto;
}

.newsbg {
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
}

.newsbg ul li:hover a {
  color: grey;
  text-decoration: underline;
}

.newsbg ul li:active a {
  color: purple;
}

.newsbg img {
  width: 100%;
}

.top-left {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 150%;
}

.media {
  display: flex;
  align-items: center;
}

.smedia {
  margin-left: 10px; /* Adjust the margin as needed */
  margin-top: -35px;
}

.smedia img {
  width: 50px; /* Adjust the size to your preference */
  height: 35px; /* Adjust the size to your preference */
}

.logo img {
  width: 166px; /* Adjust the size to your preference */
  height: auto;
}

/* album */

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.album-item {
  width: 300px;
  margin: 15px;
  text-align: center;
}

.album-item img {
  width: 100%;
  border-radius: 15px;
}
.album-item:hover img,
.album-item a:hover {
  animation: scale 0.2s ease-in;
  transform: scale(1.2);
  color: grey;
  text-decoration: underline;
}

.album-item img,
.album-item a {
  transition: transform 0.2s ease-out;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.album-item a {
  text-decoration: none;
  color: #fff;
}

.album-item p:hover {
  transform: translateY(28px);
  transition: transform 0.2s ease-out;
}
.album-item a:active {
  color: purple;
}

.text-album {
  color: white;
  text-align: center;
  font-size: 40px;
}
/*carousel */
    /* Add your custom styles here if needed */


    .carousel-container {
      max-width: 800px;
      margin: 50px auto;
      

    }
    .carousel-container h3{

      color:#fff;
      text-align: center;
      padding: 20px;

    }

    .carousel {
      width: 100%;
    }

    .carousel img {
      width: 100%;
      border-radius: 15px;
      max-height: 450px;
      object-fit: cover;
    }

/*about */

.about-section {
  
  align-items: left;
  z-index: 0;
 
}

.about-section h2 {
  text-align: left;
  color: #fff;
  margin-left: -40%;
  border-radius: 15px;
  background-color: rgba(32, 32, 32, 0.7);
  display: inline-block;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 130px;
}


.about-section {
  margin-top: 20%;
  
}

.header-nav {
  position: relative;
  z-index: 1;
}
.smedia {
  position: relative;
  z-index: 1;
}

iframe {
  border: 1px solid #ddd; /* Add border for iframe */
  border-radius: 15px; /* Optional: Add border-radius for rounded corners */
  
}
.pagina_about .content p{
  background: rgba(32, 32, 32, 0.7); 
  border-radius: 15px;
  font-size: 24px;
  
  
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paragraph iframe,
.paragraph audio {
  position: relative;
  width: 100%;
  height: auto;
}
.audios {
  flex: 1;
  max-width: 60%;
 margin-top: -550px;
}

.paragraph {
  flex-basis: calc(60% - 10px); /* Adjust the width and margin as needed */
  margin-bottom: 20px;
  box-sizing: border-box;
  
}

.left {
  margin-top: 5%;
  padding:10px;
}

.right {
  padding: 10px;
  flex-basis: auto;
} 


/*contact */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}
label {
  display: block;
  font-weight: bold;
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 12px; /* Increase margin for additional spacing */
  align-items: center;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

body.contact-page .content {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section {
  text-align: center;
  background: rgba(32, 32, 32, 0.7);
  padding: 30px; /* Increase padding for a larger section */
  border-radius: 15px;
}

input,
textarea {
  width: 100%;
  padding: 15px; /* Increase padding for larger input fields */
  margin-bottom: 15px; /* Increase margin for additional spacing */
  font-size: 16px; /* Adjust font size as needed */
}



/*CV*/



